.description {
  padding: 10px 20px 8px;
}

.mess {
  padding: 5px;
}

.chat {
  background: url(../img/chat.png);
  margin-left: 5px;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
}

.grey {
  color: #acabb0;
  font-size: 25px;
}

.mark {
  background-size: cover;
  width: 25px;
  height: 25px;
}

.input {
  height: 20px;
  font-size: 17px;
  width: 300px;
  background: #eaebed;
  text-indent: 15px;
  border: none;
}

.btn {
  background: #3897f0;
  color: #fff;
  padding: 12px 42px;
  border-radius: 50px;
  transition: 0.5s;
}

.profile {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.mess li {
  list-style-type: none;
}

.btn:hover {
  box-shadow: 0 7px 22px rgba(53, 166, 245, 1);
}

.picture {
  display: block;
  width: 100%;
  max-height: 100%;
}
