.about { padding-top: 10px; }

.card {
  min-height: 115px;
  padding: 20px 0 20px 15px;
}

.profile {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  float: left;
}

.stats {
  align-items: flex-start;
  min-height: 30px;
  position: relative;
  padding-left: 10px;
}

.stats span {
  padding: 5px;
  margin: 5px;
  align-self: flex-start;
}

.about span {
  padding: 10px;
  margin: 10px;
  min-height: 30px;
}

.block {
  margin: 10px 15px;
  flex-flow: row wrap;
}

.block .foto {
  flex: auto;
  width: 32%;
  margin: 3px;
}