.about span { margin-right: 20px; }

.card { padding: 20px 0 20px 15px; }

.profile {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.block {
  margin: 10px 15px;
  flex-flow: row wrap;
}

.block .foto {
  flex: auto;
  width: 32%;
  margin: 3px;
}