body {
  margin: 0;
  padding: 0;
  font-family: Segoe UI;
}

a {
  text-decoration: none;
  color: #000000;
}

.bold { font-weight: 500; }

.fill { padding: 20px; }

.flex { display: flex; }

.center { justify-content: center; }

.line { height: 35px; }

.top { margin-top: 10px; }

.sub { float: right; }

.width { width: 100%; }

.bot { border-bottom: 1px solid rgba(0, 0, 0, .0975); }

.post { border: 1px solid #e6e6e6; }

.rad { border-radius: 3px; }

.left { margin-left: 12px; }

.nav {
  padding: 25px 10px;
  box-sizing: border-box;
}

.icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.nick {
  display: inline-block;
  position: relative;
  bottom: 14px;
}

.dot {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.badge {
  height: 35px;
  width: 35px;
  position: absolute;
  top: 7px;
  left: 20px;
  z-index: 10;
}

.upload {
  height: 33px;
  width: 33px;
  position: absolute;
  top: 7px;
  right: 20px;
  z-index: 10;
}

.caption {
  position: absolute;
  top: 0;
  left: 0;
}

.picture {
  display: block;
  max-width: 480px;
}

.toggle {
  width: 90px;
  height: 25px;
  background: #3897f0;
  color: #ffffff;
  font-weight: 600;
}