body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.bold {
  font-weight: 600;
}

.fill {
  padding: 20px;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
}

.top {
  margin: 20px 10px 0;
}

.rad {
  border-radius: 10px;
}

.box {
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.icon {
  border-radius: 50%;
}

.post:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.post:hover .img-box {
  opacity: 0.5;
}

.post:hover .content {
  bottom: 0;
}

.nav {
  height: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
}

.space {
  justify-content: space-between;
  align-items: center;
}

.container {
  flex-direction: column;
  align-items: center;
}

.post {
  display: grid;
  grid-template-columns: minmax(300px, 500px);
  grid-template-rows: minmax(300px, 500px);
  position: relative;
  max-width: 500px;
  background: #000;
  overflow: hidden;
  transition: 0.5s;
}

.img-box {
  height: 100%;
  transition: 0.5s;
}

.content {
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: -100%;
  box-sizing: border-box;
  text-align: center;
  transition: 0.5s;
}

.badge {
  height: 35px;
  width: 35px;
}

.content * {
  margin: 0 0 10px;
}

.content h2,
.content p {
  font-size: 20px;
  color: #fff;
}

.content span {
  font-size: 16px;
  color: #ffeb3b;
}

.post:nth-child(even) .content {
  background: linear-gradient(0deg, #c21833, transparent);
}

.post:nth-child(odd) .content {
  background: linear-gradient(0deg, #8012a5, transparent);
}
